#container-grid {
    width: 330px;
    height: 330px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 15px;
    /*grid-template-rows: 100px 100px 100px;*/
    grid-template-rows: repeat(4, 100px);
}

.field {
    background-color: lightgray;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameState {
    grid-column: 1/4;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

button {
    margin-left: 15px;
}